@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Noto Sans", sans-serif;
}
body{
width: 100%;
height: 100%;
}
main{
width: 100%;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
background: linear-gradient(180deg, #040918 0%, #091540 100%);
gap: 40px;
padding: 50px 0px;
}
.topBar{
 width: 80%;
 padding: 10px 20px;
 background-color: hsl(226, 25%, 17%);
 border-radius: 10px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.logo{
  cursor: pointer;
}
.topBar .lightMode{
    width: 35px;
    height: 35px;
    background-color: hsl(225, 23%, 24%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.bright{
  filter: brightness(0) invert(1);
}
.content{
width: 80%;
min-height: 100%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.contentHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: white;
}
.status{
display: flex;
width: auto;
align-items: center;
justify-content: center;
gap: 20px;
}
.etat{
    padding: 8px;
    border-radius: 50px;
    border: 1px solid hsl(0, 0%, 93%);
    background-color: hsl(225, 23%, 24%);
    color: white;
    cursor: pointer;
}
.active{
    background-color: hsl(3, 77%, 44%);
    color: #091540;
    border: 1px solid hsl(3, 77%, 44%);
}
/* From Uiverse.io by gharsh11032000 */ 
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  cursor: pointer;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: lightgray;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: hsl(3, 77%, 44%);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px hsl(3, 77%, 44%);
}

.switch input:checked + .slider:before {
  transform: translateX(1.6em);
}
.extensions{
width: 100%;
min-height: 100%;
height: auto;
display: flex;
align-items: center;
/* justify-content: center; */
flex-wrap: wrap;
padding: 10px;
gap: 10px;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: hsl(225, 23%, 24%);
    width: 390px;
    border-radius: 15px;
    padding: 20px;
    border:1px solid hsl(200, 60%, 99%);
}
.extension-info{
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}
.extension-info img{
    width: 50px;
     
}
.details{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.details h3{
    font-size: 15px;
}
.details p{
    font-size: 11px;
    color: hsl(0, 0%, 78%);
}
.buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.removeBtn{
    padding: 8px;
    border-radius: 50px;
    border: 1px solid hsl(0, 0%, 93%);
    background-color: hsl(225, 23%, 24%);
    color: white;
    cursor: pointer;
}
.hidden{
display: none;
}
@media  (max-width : 375px) {
  body{
    width: 100%;
    height: 100%;
  }
  main{
    width: 100%;
    height: 100%;
  }
  .topBar{
    width: 90%;
  }
  .logo{
    width: 60%;
  }
  .content{
    width: 100%;
  }
  .status{
    flex-wrap: wrap;
  }
  .description{
    white-space: wrap;
  }
  .itemName{
    font-size: 8px;
    white-space: wrap;
  }
  .item{
    padding: 10px;
  }
}
@media (max-width : 520px) {
  .contentHeader{
    flex-direction: column;
    gap: 20px;
  }
}